<footer class="bg-teal-500 text-white p-8 mt-12">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <!-- Profile Section -->
    <div class="flex items-center mb-4 md:mb-0 bg-gray-100 p-4">
      <img src="assets/images/profile.jpg" alt="Profile Picture" class="w-16 h-16 rounded-full mr-4">
  
      <div>
        <!-- <h2 class="text-xl font-bold">About Me</h2> -->
        <p class="text-gray-400">
          Hi, I'm Shoney, the author behind this blog. I share insights on tech!
        </p>
      </div>
    </div>

    <!-- Navigation Links -->
    <div class="mb-4 md:mb-0">
      <h3 class="text-lg font-semibold">Quick Links</h3>
      <nav class="flex flex-col space-y-2 mt-2">
        <a href="https://git.writeonce.de/explore" class="hover:text-gray-300">Gitlab Repositories</a>
        <a href="https://writeonce.de/predicting-product-taxonomy" class="hover:text-gray-300">Thesis</a>
         <!-- <a href="#" class="hover:text-gray-300">About</a>
        <a href="#" class="hover:text-gray-300">Contact</a> -->
      </nav>
    </div>

    <div>
      <p class="text-sm mb-2">Contact:</p>
      <div class="flex justify-center space-x-4 mb-4">
        <!-- Email Icon -->
        <a href="mailto:shoney@writeonce.de" class="hover:text-gray-400">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
          <span class="sr-only">Email</span>
        </a>
  
        <!-- Phone Icon -->
        <a href="tel:+4915753685680" class="hover:text-gray-400">
          <fa-icon [icon]="['fas', 'phone']"></fa-icon>
          <span class="sr-only">Phone</span>
        </a>
      </div>
      <!-- <p class="text-sm">© 2024 Your Company. All rights reserved.</p> -->
    </div>

    <!-- Social Media Links -->
    <div class="text-center">
      <h3 class="text-lg font-semibold">Follow Me</h3>
      <div class="flex space-x-4 justify-center mt-2">



        <!-- <a href="https://www.linkedin.com/in/shoney-john/" target="_blank" rel="noopener noreferrer" class="inline-block p-2 bg-blue-600 rounded-full hover:bg-blue-700 transition-colors">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="text-white">
            <path d="M22.23,0H1.77C0.79,0,0,0.79,0,1.77v20.46C0,23.21,0.79,24,1.77,24H22.23C23.21,24,24,23.21,24,22.23V1.77C24,0.79,23.21,0,22.23,0z M7.08,20.45H4.64V9.38h2.44V20.45z M5.86,8.5c-0.78,0-1.41-0.64-1.41-1.41s0.64-1.41,1.41-1.41s1.41,0.64,1.41,1.41S6.64,8.5,5.86,8.5z M20.45,20.45h-2.44v-5.82c0-1.39-0.03-3.16-1.92-3.16c-1.92,0-2.22,1.50-2.22,3.05v6.92h-2.44V9.38h2.34v1.44h0.03c0.32-0.60,1.10-1.24,2.27-1.24c2.43,0,2.88,1.59,2.88,3.66V20.45z"/>
          </svg>
        </a> -->

        <a href="https://de.linkedin.com/in/shoney-john/de" target="_blank" rel="noopener noreferrer" class="hover:text-gray-400">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          <span class="sr-only">LinkedIn</span>
        </a>
        
        
      </div>
    </div>
  </div>

  <div class="text-center text-gray-500 mt-8">
    &copy; 2024 writeonce. All rights reserved.
  </div>
</footer>
