.article-img-caption {
    text-align: center;

  }
  
  .article-img-caption img {
    max-width: 100%;
    height: 600px;
  }
  
  /* .caption {
    font-size: 1.1em;
    color: #555;
    margin-top: 8px;
  } */
  