
  <main class="flex-1 bg-gray-100 py-6">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        
        <!-- Tech Panel -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          
          <img src="https://api.writeonce.de/image/Tech" alt="Tech Image" class="w-full h-48 object-cover">

          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Tech</h3>
            <p class="text-gray-600">Explore the latest in technology, from AI advancements to the newest gadgets.</p>
          </div>
          <ul class="list-disc list-inside p-4">
            <li class="mb-2">
              <a routerLink="/projects" class="text-blue-600 hover:underline">
                List of project repositories
              </a>
            </li>
          </ul>
        </div>
  
        <!-- Food Panel -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="" alt="Food Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Food</h3>
            <p class="text-gray-600">Discover delicious recipes, culinary tips.</p>
          </div>
          <div class="p-4">
            <ul class="list-disc list-inside">
              <li *ngFor="let item of items; let i = index" class="mb-2">
                <ng-container *ngIf="!item.isEditing; else editMode">
                  <a *ngIf="item.link" [routerLink]="item.link" class="text-blue-600 hover:underline">
                    {{ item.text }}
                  </a>
                  <span *ngIf="!item.link">{{ item.text }}</span>
                </ng-container>
                <ng-template #editMode>
                  <input [(ngModel)]="item.text" (blur)="saveItem(i)" class="border p-1" />
                </ng-template>
              </li>
            </ul>
            <button (click)="addItem()" class="text-blue-600 hover:underline mt-4">
              <i class="fas fa-plus"></i> Add Item
            </button>
          </div>
          
          
        </div>
  
        <!-- Travel Panel -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="https://api.writeonce.de/image/Landscape" alt="Travel Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Travel</h3>
            <p class="text-gray-600">Join us as we explore breathtaking destinations and travel experiences worldwide.</p>
          </div>
          <ul class="list-disc list-inside p-4">
            <li class="mb-2">
              <a routerLink="blog/trip-to-vienna" class="text-blue-600 hover:underline">
                Trip to Vienna
              </a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </main>

