<main class="flex-1 bg-gray-100 py-6">
  <div class="mb-4">
    <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        (input)="filterArticles()" 
        placeholder="Search articles..." 
        class="border border-gray-300 p-2 rounded w-full"
    />
</div>
  <app-summary-card *ngFor="let article of articles; let i = index" 
  [router]="article.router"
  [title]="article.title"
  [introduction]="article.introduction"
  [tags]="article.tags">
</app-summary-card>

 <!-- Pagination Controls -->
 <div class="flex justify-between items-center mt-4">
  <button 
      (click)="previousPage()" 
      [disabled]="currentPage === 1" 
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 disabled:opacity-50">
      Previous
  </button>
  
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  
  <button 
      (click)="nextPage()" 
      [disabled]="currentPage === totalPages" 
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 disabled:opacity-50">
      Next
  </button>
</div>
  <!-- <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        
      
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          
          <img src="https://api.writeonce.de/image/Tech" alt="Tech Image" class="w-full h-48 object-cover">

          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Tech</h3>
            <p class="text-gray-600">Explore the latest in technology, from AI advancements to the newest gadgets.</p>
          </div>
          <ul class="list-disc list-inside p-4">
            <li class="mb-2">
              <a routerLink="/projects" class="text-blue-600 hover:underline">
                List of project repositories
              </a>
             
            </li>
            <li class="mb-2">
             
              <a routerLink="blog/auto-scale-gitlab-runner-using-aws-spot-instance" class="text-blue-600 hover:underline">
                Auto scale gitlab runner using AWS spot instance
              </a>
            </li>
          </ul>
        </div>
  
        
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="" alt="Food Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Food</h3>
            <p class="text-gray-600">Discover delicious recipes, culinary tips.</p>
          </div>
          <div class="p-4">
            <ul class="list-disc list-inside">
              <li *ngFor="let item of items; let i = index" class="mb-2">
                <ng-container *ngIf="!item.isEditing; else editMode">
                  <a *ngIf="item.link" [routerLink]="item.link" class="text-blue-600 hover:underline">
                    {{ item.text }}
                  </a>
                  <span *ngIf="!item.link">{{ item.text }}</span>
                </ng-container>
                <ng-template #editMode>
                  <input [(ngModel)]="item.text" (blur)="saveItem(i)" class="border p-1" />
                </ng-template>
              </li>
            </ul>
            <button (click)="addItem()" class="text-blue-600 hover:underline mt-4">
              <i class="fas fa-plus"></i> Add Item
            </button>
          </div>
          
          
        </div> -->

  <!-- Travel Panel -->
  <!-- <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="https://api.writeonce.de/image/Landscape" alt="Travel Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Travel</h3>
            <p class="text-gray-600">Join us as we explore breathtaking destinations and travel experiences worldwide.</p>
          </div>
          <ul class="list-disc list-inside p-4">
            <li class="mb-2">
              <a routerLink="blog/trip-to-vienna" class="text-blue-600 hover:underline">
                Trip to Vienna
              </a>
            </li>
          </ul>
        </div> 
  
      </div>
    </div> -->
</main>